/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Setup *****************/

body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: whitesmoke;
}

p {
    margin: 0;
}

#container {
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
}

#container.show {
    visibility: visible;
    opacity: 1;
}

.flex-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* Header ************* */

#header {
    display: none;
    position: relative;
    background: #242527;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 1px 1px 10px #b3b1b2;
            box-shadow: 1px 1px 10px #b3b1b2;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

#header.show {
    display: block;
    visibility: visible;
    opacity: 1;
}

.slanted-header {
    background: -o-linear-gradient(150deg, transparent 30px, #ffce08 30px);
    background: linear-gradient(300deg, transparent 30px, #ffce08 30px);
    height: 60px;
    width: 150px;
}

/* Loader ***************/

#dark-overlay {
    background: #242527;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
}

#loader-div {
    position: fixed;
    width: 100%;
    z-index: 101;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transform: -webkit-translate(-50%, -50%);
            transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    -ms-transform: -ms-translate(-50%, -50%);
        transform: -ms-translate(-50%, -50%);
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffce08;
    background: -o-linear-gradient(left, #ffce08 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #ffce08), color-stop(42%, rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, #ffce08 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #ffce08;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #242527;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Submit overlay **********************/

.submit-overlay {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background: #242527;
    opacity: 0;
    -webkit-transition: opacity 150ms linear;
    -o-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
}

.submit-overlay.waiting {
    visibility: visible;
    opacity: .7;
}

.submit-loader {
    top: 25%;
}

/* Section cards ***********************/

label {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 700;
}

select {
    margin-bottom: 4px;
}

.section {
    -webkit-box-shadow: 1px 1px 10px #b3b1b2;
            box-shadow: 1px 1px 10px #b3b1b2;
    width: 350px;
    display: inline-block;
    margin: 15px 20px;
    position: relative;
}

.title-bar {
    background: #242527;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.title {
    padding: 9px;
    margin-top: 4px;
    font-size: 20px;
    font-weight: 500;
    color: #ffce08;
}

.expand-div {
    background: #ffce08;
    font-size: 36px;
    margin: 0;
    color: #242527;
    height: 50px;
    width: 50px;
    text-align: center;
}

.expand-click-div {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #ffce08;
    width: 100%;
    height: 100%;
}

.expand {
    visibility: hidden;
}

.section-body {
    position: relative;
    color: #242527;
    padding: 16px;
    background: white;
    height: 370px;
}

/* Form and inputs ****************/

.form-control {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}

.input-div {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
}

.time-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.time-item {
    margin-right: 16px;
}

/* Buttons ********************/

.btn {
    padding: 10px;
    max-width: 200px;
    background: #ffce08;
    border: none;
    color: #242527;
    font-weight: 600;
    margin-top: 16px;
    border-radius: 2px;
    cursor: pointer;
}

.btn.disabled {
    background: #f1e5b5;
    color: #99999a;
    cursor: default;
}

.btn-div {
    /* position: absolute; */
    bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 14px;
}

.btn-sched {
    bottom: 16px;
    position: static;
}

/* Scheduler ****************/

.day-div {
    margin: 0 0 1px 0;
}

.day-label {
    cursor: pointer;
    font-size: 17px;
    width: 100%;
    background: #242527;
    padding: 12px 10px;
    color: #ffce08;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.day-label.active {
    padding: 3px 10px;
}

.day-label span {
    float: right;
}

.day-body {
    display: none;
}

.on-off-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.time-select-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.prog-div {
    padding: 5px;
    border: solid 1px #ffce08;
    margin-top: 8px;
}

.prog-times {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.prog-settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.prog-set-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 8px;
}

.prog-set-block select {
    width: 120px;
}

.message {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 150ms linear;
    -o-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
}

.message.show {
    visibility: visible;
    opacity: 1;
}

/* Responsive *****************/

@media screen and (min-width: 780px) and (max-width: 1180px) {
    /* shrink the container to only show 2 cards per row */
    #container {
        width: 780px;
    }
}

@media screen and (max-width: 779px) {
    /* show only title bars with expandability */
    #container {
        flex-direction: column;
        width: 100%;
    }
    /* show the plus/expand icon */
    .expand {
        visibility: visible;
        cursor: pointer;
    }
    .expand-click-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    /* Hide the section bodies */
    .section-body {
        padding: 0px 16px;
        overflow: hidden;
        -webkit-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
        height: 0;
        
    }

    /* Section body fade down/up */
    .section-body.show{
        padding: 16px;
        height: 370px;
    }

    /* Close the space between title bars */
    .section {
        margin: 3px auto;
        width: 90vw;
    }
    /* Add some pace between the header and title bars */
    #header {
        margin-bottom: 20px;
    }
}