/* Setup *****************/
body {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: whitesmoke;
}

p {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Header ************* */
#header {
    background: #242527;
    width: 100%;
    height: 60px;
    box-shadow: 1px 1px 10px #b3b1b2;
  }
  
  .slanted-header {
    background: linear-gradient(300deg, transparent 30px, #ffce08 30px);
    height: 60px;
    width: 150px;
  }

  /* Loader ***************/
#dark-overlay {
    background: #242527;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
}

#loader-div {
    position: fixed;
    width: 100%;
    z-index: 101;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffce08;
    background: -moz-linear-gradient(left, #ffce08 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffce08 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffce08 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left,#ffce08 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffce08 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #ffce08;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background:#242527;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

/* Submit overlay **********************/
.submit-overlay {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background: #242527;
    opacity: 0;
    transition: opacity 150ms linear;
}

.submit-overlay.waiting {
    visibility: visible;
    opacity: .7;
}

.submit-loader {
    top: 25%;
}


/* Section cards ***********************/
label{ 
    margin-bottom: 3px;
}

select {
    margin-bottom: 4px;
}

.section {
    box-shadow: 1px 1px 10px #b3b1b2;
    width: 350px;
    display: inline-block;
    margin: 15px 20px;
    position: relative;
}

.title-bar {
    background: #242527;
    display: flex;
    justify-content: space-between;
}

.title {
    padding: 9px;
    margin-top: 4px;
    font-size: 20px;
    font-weight: 500;
    color: #ffce08;
}

.expand-icon {
    background: #ffce08;
    font-size: 36px;
    margin: 0;
    color: #242527;
    height: 50px;
    width: 50px;
    text-align: center;
}

.expand {
    visibility: hidden;
    margin-top: 4px;
}

.section-body {
    position: relative;
    color: #242527;
    padding: 16px;
    background: white;
    height: 370px;
}

/* Form and inputs ****************/
.form-control {
    position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 100%;
}

label {
  font-size: 14px;
  font-weight: 700;
}

.input-div {
    font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  
}

.time-group {
    display: flex;
}

.time-item {
    margin-right: 16px;
}

/* Buttons ********************/
.btn {
  padding: 10px;
  max-width: 200px;
  background: #ffce08;
  border: none;
  color: #242527;
  font-weight: 600;
  margin-top: 16px;
  border-radius: 2px;
  margin-left: auto;
  cursor: pointer;
}

.btn.disabled {
  background: #f1e5b5;
  color: #99999a;
  cursor: default;
}

.btn-div {
    position: absolute;
    bottom: 10;
}

.btn-sched {
    bottom: 16;
}

/* Scheduler ****************/
.day-div {
    margin: 0 0 1px 0;
}

.day-label {
  cursor: pointer;
    font-size: 17px;
    width: 100%;
    background: #242527;
    padding: 12px 10px;
    color: #ffce08;
    box-sizing: border-box;
}

.day-label.active {
    padding: 3px 10px;
}

.day-label span {
    float: right;
}

.day-body {
    display: none;
}
.on-off-block {
    display: flex;
}

.time-select-block {
    display: flex;
    flex-direction: column;
}

.prog-div {
    padding: 5px;
    border: solid 1px #ffce08;
    margin-top: 8px;
}

.prog-times {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.prog-settings {
    display: flex;
    justify-content: space-between;
}

.prog-set-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.prog-set-block select {
    width: 120px;
}

@media all and